# Dependencies
node_modules/

# Prisma
prisma.config.ts

# Environment variables (credentials)
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

/lib/generated/prisma

#manual
migration-guide.md

